    <span class="p-input-icon-left mx-1">
                    
        <i class="fa-solid fa-magnifying-glass"></i>
        <!-- <input pInputText class="rounded-pill" type="text" (input)="applyGlobalFilter($event)"
          placeholder="Search By Product Name /HSN Code/CAS /UN NO" style="width: 650px;height: 50px;font-size: 18px;"/> -->
    <input
      pInputText
      type="text"
      class="rounded-pill"
      [(ngModel)]="searchText"
      placeholder="Search By Product Name /HSN Code/CAS /UN NO"
      (input)="onSearch()"
      style="width: 650px;height: 50px;font-size: 18px;"
    />
    </span>
    @if(filteredOptions.length > 0)
    {
        <ul class="dropdown" >
            @for (option of filteredOptions; track $index) {
                <li (click)="selectOption(option)" >
                    {{ option.ProductName }} {{ option.CASNO }}
                </li>
            }
        </ul>
    }
