.intro {
    font-size: 1.2em;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}