.hero {
    background-color: #e7f1ff;
    color: #333;
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #007bff;
  }
  
  .card-title {
    color: #007bff;
  }
  
  footer {
    background-color: #e7f1ff;
    color: #333;
  }

  .bg-info{
    background-color: #00ffff !important;
  }