<div class="container">
    <!-- <header>
      <div class="text-center mt-5">
        <h1 class="display-4">Welcome to Aarnav Scientific</h1>
        <p class="lead">We provide high-quality chemical products for various industries.</p>
        <a class="btn btn-primary btn-lg" [routerLink]="'product'">Explore Products</a>
      </div>
    </header> -->
  
    <div id="chemicalCarousel" class="carousel slide" data-ride="carousel">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              alt="{{slide.title}}"
              class="d-block w-100"
              loading="lazy"
              src="{{slide.src}}"
            />
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel>
    </div>


  
    <div class="row mt-4 image-gallery mb-5">
      <div class="col-md-4">
        <img src="../../images/chemicals-packing/rephile-water-cuqp2Jzz_lY-unsplash.jpg" class="card-img-top" alt="Chemical Product 1">
      </div>
      <div class="col-md-4">
        <img src="../../images/chemicals-packing/cdc-wCo9UwZEa18-unsplash.jpg" class="card-img-top" alt="Chemical Product 2">
      </div>
      <div class="col-md-4">
        <img src="../../images/chemicals-packing/louis-reed-JeInkKlI2Po-unsplash.jpg" class="card-img-top" alt="Chemical Product 3">
      </div>
    </div>

    <div class="container text-center m-5">
      <h1 class="fw-bold">CONTACT US</h1>
      <form class="mt-4" (submit)="sendEmail($event)">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Your Name"
            [(ngModel)]="name"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-control"
            placeholder="Message"
            rows="4"
            [(ngModel)]="message"
            name="message"
            required
          ></textarea>
        </div>
        <div class="d-flex justify-content-center gap-3">
          <button type="submit" class="btn btn-success px-4">Send</button>
        </div>
      </form>
    </div>
          
    <!-- <app-certification></app-certification> -->

    <app-world-map></app-world-map>
  </div>
  